.attitude-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 115vh;
    @media all and (min-width: 768px){
        height: 125vh;
    }
    @media all and (min-width: 1280px){
        flex-direction: row;
        height: 112vh; 
    }
}

.attitude{
    width: 50vw;
    @media all and (min-width: 1280px){
        width: 25vw;
    }
}

.attitude-info{
    color: black;
    text-align: center;
    @media all and (min-width: 1280px){
        width: 30vw;
        margin-left: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    } 
}

.attitude-title{
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 15px;
    @media all and (min-width: 768px){
        font-size: 50px;
    }
}

.attitude-date{
    line-height: 40px;
    font-size: 15px;
    @media all and (min-width: 768px){
        font-size: 20px;
    }
    @media all and (min-width: 1280px){
        line-height: 50px;
        font-size: 15px;
    }
}

.songs-container{
    background-color: black;
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    @media all and (min-width: 768px){
        padding: 10px 10px 10px 10px;
        margin: 15px 15px 15px 15px;
        width: 55vw;
    }
    @media all and (min-width: 1280px){
        margin: 10px 10px 10px 0px;
        width: 30vw;
    }
}

.song{
    color: white;
    font-size: 14px;
    @media all and (min-width: 768px){
        font-size: 20px;
    }
}

.number{
    color: rgb(165, 165, 165); 
    margin-right: 20px;
    font-size: 15px;
    margin-left: 10px;
    @media all and (min-width: 768px){
        font-size: 20px;
    }
}

.links-container{
    display: flex;
    justify-content: end;
}

.play-youtube{
    color: white;
    font-size: 15px;
    @media all and (min-width: 768px){
        font-size: 20px;
    }
}

.play-youtube:hover{
    color: #fd0000ed;
}

.play-spotify{
    color: white;
    font-size: 15px;
    @media all and (min-width: 768px){
        font-size: 20px;
    }
}

.play-spotify:hover{
    color: #1ad763;
}
