.contact{
    background-color: black;
    padding-top: 10%;
    padding-bottom: 10%;
    @media all and (min-width: 768px){
        padding-top: 8%;
    }
    @media all and (min-width: 1280px){
        padding-top: 5%;
    }
}

.title-contact{
    padding-left: 5%;
}

.form{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px){
        padding-top: 8%;
    }
    @media all and (min-width: 1280px){
        padding-top: 5%;
    }
}

.name-container, .email-container, .message-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    width: 70vw;
    margin: 5px;
    @media all and (min-width: 768px){
        font-size: 22px;
        margin: 10px;
    }
    @media all and (min-width: 1280px){
        width: 40vw;
    }
}

.name{
    width: 70vw;
    padding: 3px; 
    margin-bottom: 10px;  
    @media all and (min-width: 768px){
        padding: 10px; 
        margin-bottom: 20px;
    }
    @media all and (min-width: 1280px){
        width: 40vw;
    }
}

.email{
    width: 70vw;
    padding: 3px;  
    margin-bottom: 10px;  
    @media all and (min-width: 768px){
        padding: 10px; 
        margin-bottom: 20px;
    }
    @media all and (min-width: 1280px){
        width: 40vw;
    }
}

.tel{
    width: 70vw;
    padding: 3px;  
    margin-bottom: 10px;  
    @media all and (min-width: 768px){
        padding: 10px; 
        margin-bottom: 20px;
    }
    @media all and (min-width: 1280px){
        width: 40vw;
    }
}

.send-container{
    width: 70vw;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    @media all and (min-width: 1280px){
        width: 40vw;
    }
}

.send{
    cursor: pointer;
    background-color: rgb(86, 9, 9);
    border: rgb(86, 9, 9);
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 11px;
    @media all and (min-width: 768px){
        font-size: 16px;
        padding: 10px 35px 10px 35px;
    }
    @media all and (min-width: 768px){
        padding: 10px 40px 10px 40px;
    }
}

.send:hover{
    box-shadow: 0 0 20px rgb(146, 14, 14);
}








