.contact{
    background-color: black;
    height: 90vh;
    width: 100vw;
    @media all and (min-width: 768px){
        height: 56vh;
    }
    @media all and (min-width: 1280px){
        height: 95vh;
    }
}

.title-contact{
    padding-top: 3%;
    padding-left: 7%;
    @media all and (min-width: 768px){
        padding-top: 3%;
        padding-left: 7%;
    }
    @media all and (min-width: 1280px){
        padding-top: 2%;
    }
}

.form{
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px){
        height: 52vh;
    }
    @media all and (min-width: 1280px){
        height: 82vh;
    }
}

.name-container, .email-container, .message-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    width: 70vw;
    margin: 5px;
    @media all and (min-width: 768px){
        width: 40vw;
        font-size: 16px;
        margin: 7px;
    }
    @media all and (min-width: 1280px){
        width: 30vw; 
        font-size: 18px;
    } 
}

.name{
    width: 70vw;
    padding: 3px;  
    @media all and (min-width: 768px){
        width: 40vw;
        padding: 10px;  
    }
    @media all and (min-width: 1280px){
        width: 30vw;
        padding: 10px;
        margin: 10px; 
    } 
}

.email{
    width: 70vw;
    padding: 3px;  
    @media all and (min-width: 768px){
        width: 40vw;
        padding: 10px;  
    }
    @media all and (min-width: 1280px){
        width: 30vw;
        padding: 10px;
        margin: 10px; 
    } 
}

.tel{
    width: 70vw;
    padding: 3px;  
    @media all and (min-width: 768px){
        width: 40vw;
        padding: 10px;  
    }
    @media all and (min-width: 1280px){
        width: 30vw;
        padding: 10px;
        margin: 10px; 
    } 
}

.send-container{
    display: flex;
    justify-content: flex-end;  
    width: 76vw;
    @media all and (min-width: 768px){
        display: flex;
        justify-content: flex-end;  
        width: 35vw;
    }
    @media all and (min-width: 1280px){
        display: flex;
        justify-content: flex-end;  
        width: 31.4vw; 
    } 
}

.send{
    background-color: rgb(86, 9, 9);
    border: rgb(86, 9, 9);
    color: white;
    width: 25vw;
    padding: 6px 8px 6px 8px;
    margin: 11px; 
    font-size: 11px;
    @media all and (min-width: 768px){
        width: 15vw;
        padding: 10px;
        margin: 10px;
        margin-right: -7%;
        font-size: 12px;
    }
    @media all and (min-width: 1280px){
        width: 10vw;
        padding: 14px;
        margin: 12px; 
        font-size: 12px;
    } 
}

.send:hover{
    box-shadow: 0 0 20px rgb(146, 14, 14);
}

