.contact{
    background-color: black;
    padding-top: 10%;
    height: 110vh;
}

.title-contact{
    padding-left: 5%;
}

.form{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-container, .email-container, .message-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    width: 70vw;
    margin: 5px;
}

.name{
    width: 70vw;
    padding: 3px; 
    margin-bottom: 10px;  
}

.email{
    width: 70vw;
    padding: 3px;  
    margin-bottom: 10px;  
}

.tel{
    width: 70vw;
    padding: 3px;  
    margin-bottom: 10px;  
}

.send-container{
    width: 70vw;
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.send{
    background-color: rgb(86, 9, 9);
    border: rgb(86, 9, 9);
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 11px;
}

.send:hover{
    box-shadow: 0 0 20px rgb(146, 14, 14);
}











/*.contact{
    background-color: black;
    height: 95vh;
    width: 100vw;
    padding-top: 5%;
    @media all and (min-width: 768px){
        height: 60vh;
        padding-top: 2%;
    }
    @media all and (min-width: 1280px){
        height: 95vh;
    }
}

.title-contact{
    padding-left: 7%;
    @media all and (min-width: 768px){
        padding-top: 2%;
    }
    @media all and (min-width: 1280px){
        padding-top: 2%;
    }
}

.form{
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px){
        height: 52vh;
    }
    @media all and (min-width: 1280px){
        height: 82vh;
    }
}

.name-container, .email-container, .message-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    width: 70vw;
    margin: 5px;
    @media all and (min-width: 768px){
        width: 40vw;
        font-size: 16px;
        margin: 7px;
    }
    @media all and (min-width: 1280px){
        width: 30vw; 
        font-size: 18px;
    } 
}

.name{
    width: 70vw;
    padding: 3px;  
    @media all and (min-width: 768px){
        width: 40vw;
        padding: 10px;  
    }
    @media all and (min-width: 1280px){
        width: 30vw;
        padding: 10px;
        margin: 10px; 
    } 
}

.email{
    width: 70vw;
    padding: 3px;  
    @media all and (min-width: 768px){
        width: 40vw;
        padding: 10px;  
    }
    @media all and (min-width: 1280px){
        width: 30vw;
        padding: 10px;
        margin: 10px; 
    } 
}

.tel{
    width: 70vw;
    padding: 3px;  
    @media all and (min-width: 768px){
        width: 40vw;
        padding: 10px;  
    }
    @media all and (min-width: 1280px){
        width: 30vw;
        padding: 10px;
        margin: 10px; 
    } 
}

.send-container{
    width: 70vw;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    @media all and (min-width: 768px){
        width: 40vw;
        margin-top: 15px;
    }
    @media all and (min-width: 1280px){ 
        width: 42vw;
        margin-top: 10px;
    } 
}

.send{
    background-color: rgb(86, 9, 9);
    border: rgb(86, 9, 9);
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 11px;
    @media all and (min-width: 768px){
        padding: 10px 30px 10px 30px;
        font-size: 16px;
    }
    @media all and (min-width: 1280px){
        padding: 10px 20px 10px 20px;
        font-size: 12px;
    } 
}

.send:hover{
    box-shadow: 0 0 20px rgb(146, 14, 14);
}

*/