footer{
    background-color: black;
    height: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media all and (min-width: 768px){
        height: 12vh;
    }
    @media all and (min-width: 1280px){
        height: 16vh;
    }
}

.copy{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    color: white;
    @media all and (min-width: 768px){
        font-size: 16px;
    }
}

.links{
    margin-bottom: 20px;
}

.fa-brands{
    padding: 5px;
}

.link-youtube, .link-spotify, .link-instagram, .link-twitter, .link-facebook{
    font-size: 18px;
    color: white;
    @media all and (min-width: 768px){
        font-size: 25px;
    }
    @media all and (min-width: 1280px){
        margin: 10px;
    }
}

.link-youtube:hover{
    color: #fd0000ed;
}

.link-spotify:hover{
    color: #1ad763;
}

.link-instagram:hover{
    color: #ca378b;
}

.link-twitter:hover{
    color: #1d9bee;
}

.link-facebook:hover{
    color: #055a93;
}