.photo-container{
    background-image: url(https://cdn.wallpapersafari.com/36/49/R1drnD.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 175vh;
    @media all and (min-width: 768px){
        height: 340vh;
    }
    @media all and (min-width: 1280px){
        flex-direction: row;
        flex-wrap: wrap;
        height: 90vh; 
    }
}

.photo-contain{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    @media all and (min-width: 768px){
        gap: 70px;
    }
    @media all and (min-width: 768px){
        gap: 55px;
    }
}

.photo-video{
    width: 50vw;
    @media all and (min-width: 1280px){
        width: 20vw;
    }
}

.date{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    margin-top: -25%;
    position: absolute;
    width: 50vw;
    @media all and (min-width: 768px){
        font-size: 25px;
    }
    @media all and (min-width: 1280px){
        font-size: 18px;
        margin-top: -10%;
        width: 20vw;
    }
}



