header{
  background-color: black;
  height: 8vh;
  width: 100vw;
  @media all and (min-width: 768px){
    height: 6vh;
  }
  @media all and (min-width: 1280px){
    height: 8vh;
  }
}

.small-container{
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media all and (min-width: 768px){
    height: 6vh;
  }
  @media all and (min-width: 1280px){
    height: 8vh;
  }
}

.logo{
  cursor: pointer;
  width: 14vw;
  margin: 10px 10px 10px 10px;
  @media all and (min-width: 768px){
    width: 10vw;
    margin: 13px 10px 10px 10px;
  }
  @media all and (min-width: 1280px){
    width: 6vw;
    margin: 13px 10px 10px 10px;
  }
}

.menu-image{
  cursor: pointer;
  width: 4.5vw;
  height: 2vh;
  margin-right: 4%;
  @media all and (min-width: 768px){
    width: 3.4vw;
    height: 2.2vh;
  }
  @media all and (min-width: 1280px){
    width: 1.8vw;
    height: 2.5vh;
  }
}

.menu-container{
  display: none;
  @media all and (min-width: 768px){
    /*display: flex;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;*/
  }
}

.option-container{
  display: none;
  @media all and (min-width: 768px){
    /*display: flex;
    margin-right: 40px;*/
  }
}

.option{
  display: none;
  @media all and (min-width: 768px){
    /*display: flex;*/
  }
}