header{
  background-color: black;
  height: 8vh;
  width: 100vw;
  @media all and (min-width: 1280px){
    height: 10vh;
  }
}

.small-container{
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media all and (min-width: 1280px){
    height: 10vh;
  }
}

.logo{
  cursor: pointer;
  width: 16vw;
  margin-left: 6px;
  margin-top: 2px;
  @media all and (min-width: 768px){
    width: 12vw;
  }
  @media all and (min-width: 1280px){
    width: 6vw;
    margin-left: 20px;
  }
}

.menu-image{
  cursor: pointer;
  width: 4vw;
  height: 2vh;
  margin-right: 14px;
  @media all and (min-width: 768px){
    height: 2.6vh;
  }
  @media all and (min-width: 1280px){
    width: 1.6vw;
    margin-right: 45px;
  }
}

.menu-container{
  display: none;
}

.option-container{
  display: none;
}

.option{
  display: none;
}
