.music{
    background-color: black;
    padding: 2%;
    padding-top: 5%;
}

.title-container{
    margin-left: 5%;
}

.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    @media all and (min-width: 768px){
        font-size: 25px;
    }
    @media all and (min-width: 1280px){
        font-size: 45px;
    }
}

.cd-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10vw;
    width: 98vw;
    margin-top: 5%;
    margin-bottom: 5%;
    @media all and (min-width: 768px){
        font-size: 25px;
        margin-top: 2%;
    }
    @media all and (min-width: 1280px){
        width: 98vw;
        font-size: 45px;
        margin-bottom: 0;
    }
}

.cd{
    cursor: pointer;
    width: 38vw;
    @media all and (min-width: 1280px){
        width: 20vw;
    }
}

.cd:hover{
    box-shadow: 0 0 20px rgb(255, 255, 255);
}