.shop{
    background-color: black;
    padding-top: 10%;
    @media all and (min-width: 768px){
        padding-top: 6%;
    }
    @media all and (min-width: 1280px){
        padding-top: 4%;
    }
}

.shop-container{
   padding-left: 5%;
}

.shop-contain{
    margin-top: 10%;
    width: 100vw;
    @media all and (min-width: 768px){
        margin-top: 6%;
    }
    @media all and (min-width: 1280px){
        margin-top: 4%;
    }
 }

.shop-image{
    cursor: pointer;
    object-fit: cover;
    width: 100vw;
    height: 55vh;
    @media all and (min-width: 768px){
        height: 75vh;
    }
    @media all and (min-width: 1280px){
        height: 115vh;
    }
}









