.videos-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vw;
    width: 100vw;
    height: 54vh;
    margin-top: 0%;
    @media all and (min-width: 768px){
        gap: 4vw;
        width: 100vw;
        height: 60vh;
        margin-top: 0%;
    }
    @media all and (min-width: 1280px){
        gap: 2vw;
        width: 100vw;
        height: 83vh;
        margin-top: 0%; 
    }
}

.video-listing{
    height: 20vh;
    width: 40vw;
    text-align: center;
    margin-top: 5%;
    @media all and (min-width: 768px){
        height: 20vh;
        width: 40vw;
        margin-top: 5%;
    }
    @media all and (min-width: 1280px){
        height: 30vh;
        width: 26vw;
        margin-top: 2%;
    }
}

.image-video{
    cursor: pointer;
    height: 18vh;
    width: 38vw;
    @media all and (min-width: 768px){
        height: 20vh;
        width: 40vw;
    }
    @media all and (min-width: 1280px){
        height: 30vh;
        width: 26vw;
    }
}

.image-video:hover{
    
}



/*

.main-video{
    background-image: url("https://media.istockphoto.com/id/494422864/es/foto/fondo-abstracto-humo-y-niebla.jpg?s=612x612&w=0&k=20&c=9Z6OXBCFSDiMeW4GFElIKqnYEUJVu-FhjH4NR3nWI3I=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.smoke{
    padding-top: 56.250%;
    position:relative;
}


*/