.videos-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120vh;
    gap: 35px;
    @media all and (min-width: 768px){
        gap: 40px;
        height: 145vh;
    }
    @media all and (min-width: 1280px){
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        align-items: center;
        height: 90vh;
    }
}

.video-listing{
    text-align: center;
}

.image-video{
    cursor: pointer;
    width: 70vw;
    @media all and (min-width: 768px){
        width: 60vw;
        height: 30vh;
    }
    @media all and (min-width: 1280px){
        width: 25vw;
    }
}

