.videos-container{
    background-image: url("https://elements-video-cover-images-0.imgix.net/files/f33c8e81-7996-4895-906d-f59516250a18/inline_image_preview.jpg?auto=compress%2Cformat&fit=min&h=281&w=500&s=9e0632d68dfd7101c7ab25fda645bd27");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 105vh;
    gap: 35px;
    @media all and (min-width: 768px){
        gap: 40px;
        height: 145vh;
    }
    @media all and (min-width: 1280px){
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        align-items: center;
        height: 85vh;
    }
}

.video-listing{
    text-align: center;
}

.image-video{
    cursor: pointer;
    width: 70vw;
    @media all and (min-width: 768px){
        width: 60vw;
        height: 30vh;
    }
    @media all and (min-width: 1280px){
        width: 25vw;
        height: 30vh;
    }
}

